@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 229 71% 11%;
    --foreground: 0 0% 98%;
    --card: 227 33% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 229 71% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 258 90% 67%;
    --primary-foreground: 0 0% 98%;
    --secondary: 227 33% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 227 33% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 190 100% 50%;
    --accent-foreground: 229 71% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 33% 25%;
    --input: 227 33% 25%;
    --ring: 190 100% 50%;
    --chart-1: 258 90% 67%;
    --chart-2: 190 100% 50%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 71% 11%;
    --foreground: 0 0% 98%;
    --card: 227 33% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 229 71% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 258 90% 67%;
    --primary-foreground: 0 0% 98%;
    --secondary: 227 33% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 227 33% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 190 100% 50%;
    --accent-foreground: 229 71% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 33% 25%;
    --input: 227 33% 25%;
    --ring: 190 100% 50%;
    --chart-1: 258 90% 67%;
    --chart-2: 190 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .glow-accent {
    text-shadow: 0 0 15px hsl(var(--accent) / 0.6), 0 0 5px hsl(var(--accent) / 0.5);
  }
  .glow-primary {
    -webkit-box-shadow: 0 0 15px hsl(var(--primary) / 0.5);
    -moz-box-shadow: 0 0 15px hsl(var(--primary) / 0.5);
    box-shadow: 0 0 15px hsl(var(--primary) / 0.5);
  }
}
