@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 254 55% 15%;
    --foreground: 0 0% 95%;
    --card: 268 39% 11%;
    --card-foreground: 0 0% 95%;
    --popover: 254 55% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 259 84% 73%;
    --primary-foreground: 0 0% 95%;
    --secondary: 268 39% 11%;
    --secondary-foreground: 0 0% 95%;
    --muted: 268 39% 11%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 233 87% 61%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 268 39% 21%;
    --input: 268 39% 21%;
    --ring: 233 87% 61%;
    --chart-1: 259 84% 73%;
    --chart-2: 233 87% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 254 55% 15%;
    --foreground: 0 0% 95%;
    --card: 268 39% 11%;
    --card-foreground: 0 0% 95%;
    --popover: 254 55% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 259 84% 73%;
    --primary-foreground: 0 0% 95%;
    --secondary: 268 39% 11%;
    --secondary-foreground: 0 0% 95%;
    --muted: 268 39% 11%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 233 87% 61%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 268 39% 21%;
    --input: 268 39% 21%;
    --ring: 233 87% 61%;
    --chart-1: 259 84% 73%;
    --chart-2: 233 87% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .glow-accent {
    -webkit-box-shadow: 0 0 15px hsl(var(--accent) / 0.6);
    -moz-box-shadow: 0 0 15px hsl(var(--accent) / 0.6);
    box-shadow: 0 0 15px hsl(var(--accent) / 0.6);
  }
  .glow-primary {
    -webkit-box-shadow: 0 0 15px hsl(var(--primary) / 0.5);
    -moz-box-shadow: 0 0 15px hsl(var(--primary) / 0.5);
    box-shadow: 0 0 15px hsl(var(--primary) / 0.5);
  }
}
